.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  font-size: 1.5rem;
  /* width: 4rem; */
  margin: 1rem;
  /* padding: 0.5rem; */
  padding: 10px 20px;
  cursor: pointer
}

span {
  font-size: 1.5rem;
}